doctype
html(lang"ru-RU")
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" href="src/styles/style.css")
	link(rel="stylesheet" href="src/fonts/fonts.css")
	link(link rel="stylesheet" type="text/css" href="src/styles/media.css")
	title='SpaceStation'
body
div.container
	img(src="src/img/header__background.png").slide
	img(src="src/img/Searching-For-Something.jpg").slide
	img(src="src/img/header__background.png").slide
div.slider
	button.slider__button
	button.slider__button
	button.slider__button
section.header
	header.header__menu
		a(href="#").header__link
		img(src="src/img/logo_top.png" alt="logo").header__img
		a(href="#")#toggle.toggle
		span#bar.bar
		nav#header__nav.header__nav
			ul#nav-list.nav-list
				li.nav_list__item
				a(href="#").nav_list__link='services'
				li.nav_list__item
				a(href="#").nav_list__link='how'
				li.nav_list__item
				a(href="#").nav_list__link='outwork'
				li.nav_list__item
				a(href="#").nav_list__link='testimonials'
				li.nav_list__item
				a(href="#").nav_list__link='team'
				li.nav_list__item
				a(href="#").nav_list__link='contact us'
		button.header__button='Sign in'
	div.header__about
		div.header__text
			img(src="src/img/Rocket.png" alt="Rocket" width="60" height="60").header__pic
			h1.header__heading='Let`s explore the sky!'
			p.header__subtitle='This is Photoshop`s version of Lorem Ipsum. proim gravida nibh vel velit auctor aliquet.'
		div.buttons
			button.buttons__base buttons__base_left
			button.buttons__base buttons__base_right
			button.buttons__base buttons__base_circle
section.base
	div.base__list
		ul.services
			li.services__item
				span.services__logo
					img(src="src/img/logo-web.png" alt="" width="40" height="40").services__pic.services__pic_web
					h2.services__heading='Web Design'
					p.services__text='This is&nbsp;Photoshop`s version of&nbsp;Lorem Ipsum. proim gravida nibh vel velit auctor aliquet mauris.'
			li.services__item
				span.services__logo
					img(src="src/img/logo-design.png" alt="" width="40" height="40").services__pic.services__pic_anchor
					h2.services__heading='Logo Design'
					p.services__text='This is&nbsp;Photoshop`s version of&nbsp;Lorem Ipsum. proim gravida nibh vel velit auctor aliquet mauris.'
			li.services__item
				span.services__logo
					img(src="src/img/logo-print.png" alt="" width="40" height="40").services__pic.services__pic_print
					h2.services__heading='Print Design'
					p.services__text='This is&nbsp;Photoshop`s version of&nbsp;Lorem Ipsum. proim gravida nibh vel velit auctor aliquet mauris.'
section.timetable
	div.timetable__text
		h1.timetable__heading='How we work'
		p.timetable__subtitle='This is&nbsp;Photoshop`s version of&nbsp;Lorem Ipsum. proim gravida nibh vel velit auctor aliquet mauris.'
	div.timetable__main
		div.timetable__line
		div.window.window_left
			div.window__text
				h3.window__title='We will discuss do you want'
				p.window__subtitle='This is Photoshop`s version of Loram Ipsum.'
	div.window.window_right"
		div.window__text
			h3.window__title='Client contact us'
			p.window__subtitle='This is Photoshop`s version of Loram Ipsum.'
		button.timetable__button='See all how we work'	


									
